@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&family=Roboto:wght@400;700&display=swap');

:root {
    --white: #fff;

    --gray-300: #C4C4CC;
    --gray-800: #202024;
    --gray-900: #121214;

    --green-300: #00B37E ;
    --green-500: #00875F ;
    --green-700: #015F43;
  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: var(--gray-900);
    color: var(--gray-300);
}

header {
    position: fixed;
    background: transparent;
    width: 100%;
    padding: 1rem 1.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h2 {
    font-size: 2rem;
}

header nav {
    font-size: 1.2rem;
    font-weight: bold;

    display: flex;
    gap: 1rem;
}

header nav a {
    text-decoration: none;
    color: var(--gray-300);
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

header nav a:hover {
    border-bottom: 3px solid var(--green-300);
}

section {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

section h2 {
    color: var(--white);
    font-size: 3.2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#home {
    background: var(--gray-800);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

#home h1 {
    font-size: 4.5rem;
    letter-spacing: 0.3rem;
    color: var(--white);
}

#home span {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

#home .linkMedias {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
}

#home .linkMedias a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    background: var(--green-300);
    border-radius: 8px;
    padding: 0.5rem 1rem;

    transition: 0.5s;
}

#home .linkMedias a:hover {
    background: var(--green-700);
    transform: scale(1.1);
    transition: 0.5s;
}

#aboutMe .aboutMeInfo {
    padding: 0 2rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.aboutMeInfo img {
    height: 50vh;
    border-radius: 15px;
}

.aboutMeInfo p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2;
}

#projects {
    background: var(--gray-800);
}

#projects .cardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.cardContainer .card img {
    width: 30vw;
    border-radius: 15px;
}

.cardContainer .card img:hover {
    transform: scale(1.1);
}

